doctype
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title",content="Proximos eventos - CongresosMX")
    meta(property="og:site_name",content="CongresosMX")
    meta(property="og:url",content="http://www.congresosmx.com")
    meta(property="og:description",content="Consigue toda la informacion de nuestros proximos eventos en CongresosMX")
    meta(property="fb:app_id",content="509270909247919")
    meta(property="og:image",content="http://cmxfacebook-arkingsoft.rhcloud.com/images/banner_acapulco.jpg")
    meta(property="og:image:width",content="600")
    meta(property="og:image:height",content="400")
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    != partial("/_partials/_facebook", { "appId" : "509270909247919" })
    .container
      //-
        .row
          .col-xs-12
            div(data-share="true", data-with="450", data-show-faces="true").fb-like
      != yield
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
