.row
  .col-lg-12
    #myCarousel(class='carousel slide' data-ride='carousel')
      ol(class="carousel-indicators")
        li(data-target="#myCarousel" data-slide-to="0" class="active")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
        //li(data-target="#myCarousel" data-slide-to="3")
      div(class="carousel-inner" data-role="listbox")
        div(class="item active")
          a(href="acapulco")
            img(src="/images/banner_acapulco.png" alt="Acapulco" class="img-responsive")
        //div(class="item")
          //a(href="cuba")
            //img(src="/images/banner_cuba.png" alt="Cuba" class="img-responsive")
        div(class="item")
          a(href="diplomado")
            img(src="/images/banner_diplomado.png" alt="Diplomado" class="img-responsive")
        div(class="item")
          a(href="tailandia")
            img(src="/images/banner_tailandia.png" alt="Tailandia" class="img-responsive")
      a(class="left carousel-control" href="#myCarousel" data-role="button" data-slide="prev")
        span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
        span(class="sr-only") Previous
      a(class="right carousel-control" href="#myCarousel" data-role="button" data-slide="next")
        span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
        span(class="sr-only") Next
