/*
body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}
*/

body {
  background-color: #e9eaed !important;
}

.row {
    margin-top: 10px;
}

.row:first-child, .row.row-dense {
    margin-top: 0;
}

.row:last-child, .row-expanded {
    margin-bottom: 10px;
}

.container {
    background-color: #fbf8f8;
    padding-top: 25px;
}

a.unstyled, a.unstyled:hover, a.unstyled:focus {
  text-decoration: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

ul li:before{
	content:"-";
	position:relative;
	margin-left: -10px; /* optional, for multiline li element */
	left: -5px;
}

ul {
    list-style-type: none;
}

.linea {
  background-image: url(/images/acapulco/linea.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25px;
}

.signup-form {
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  border-bottom: 5px solid orange;
  background-color: #f8f8f7;
}

.signup-form h4 {
  margin-left: -15px;
  margin-top: -2px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 50px;
}

.cuadro {
  background-image: url(/images/acapulco/cuadro.png);
  background-repeat: no-repeat;
	background-size: 100% 100%;
}

.cuadro-text {
  padding: 5% 15%;
  color: white;
}

.cuadro-text small {
  color: #eee;
}
