.row
  .col-xs-4
    .cuadro
      .cuadro-text.text-left
        h4
          small Hotel:
          br
          | Ritz Ciudad de México
        h4
          small Fecha:
          br
          | 26 al 27 de Sep 2015
        h4
          small Desde:
          br
          | 1,800 MXN
  .col-xs-8
    .row
      .col-xs-2
        img(src="/images/common/palomita.png").img-responsive
      .col-xs-10
        ul.text-left
          li 16 Hrs de Catedra
          li Desayuno Buffet
          li Material para sesionar el primer día
          li Conferencias Internacionales
          li Manual de Meeting planner
          li Diplomado con Valor Curricular avalado por la STPS
