.row
  .col-xs-4
    .cuadro
      div(style="padding: 10% 25%;").text-left
        h3
          small Hotel:
          br
          | Crowne Plaza
        h3
          small Fecha:
          br
          | 13 al 16 de Nov 2015
        h3
          small Desde:
          br
          | 3,500 MXN
  .col-xs-8
    ul.text-left
      li Transporte terrestre viaje redondo saliendo del D.F.* (Autobús ejecutivo).
      li 4 días + 3 noches de hospedaje en el Hotel Crowne Plaza de Acapulco Guerrero, México
      li Talleres.
      li Conferencias magistrales.
      li Diploma constancia en congresos universitarios*
      li Actividades acuáticas y recreativas, playa privada y áreas comunes.
      li Gimnasio.
      li Impuestos y propinas pagadas.
