!= partial("../_partials/_carousel.jade", public.acapulco._data.hotel.carousel)
include _hotel.jade

.row.linea

.row.row-dense
  div(style="padding-bottom: 20px;").col-xs-5.signup-form
    .text-left
      != partial("_signup.ejs")
  .col-xs-7
    .text-left
      != partial("_itinerario_derecho.md")
.row
  .col-xs-12
    p.text-left.small
      br
      | * Los Autobuses salen en otros puntos de la República Mexicana, si se juntan grupos arriba de 20 personas.
      br
      | * Avalada por la Secretaria del Trabajo y Previsión Social (Foliada, Certificada, con sellos, firmas y hologramas en originales)
