.row
  .col-xs-6
    a(href="derecho.html").unstyled
      .text-center
        img(src="/images/acapulco/derecho.jpg").img-responsive
        h4
          small XIII Congreso Internacional de
          p Derecho y Criminologia
  .col-xs-6
    a(href="psicologia.html").unstyled
      .text-center
        img(src="/images/acapulco/psicologia.jpg").img-responsive
        h4
          small XIII Congreso Internacional de
          p Psicologia
.row
  .col-xs-6
    a(href="gastronomia.html").unstyled
      .text-center
        img(src="/images/acapulco/gastronomia.jpg").img-responsive
        h4
          small XIII Congreso Internacional de
          p Hospitalidad, Gastronomía y Turismo
  .col-xs-6
    a(href="yoga.html").unstyled
      .text-center
        img(src="/images/acapulco/yoga.jpg").img-responsive
        h4
          small Seminario de Yoga
          p Punto de Equilibrio
