.row
  .col-xs-6
    a(href="derecho").unstyled
      .text-center
        img(src="/images/acapulco/derecho.png").img-responsive
        h4
          small XIII Congreso Internacional de
          p Derecho y Criminologia
  .col-xs-6
    a(href="psicologia").unstyled
      .text-center
        img(src="/images/acapulco/psicologia.png").img-responsive
        h4
          small XIII Congreso Internacional de
          p Psicologia
.row
  .col-xs-6
    a(href="gastronomia").unstyled
      .text-center
        img(src="/images/acapulco/gastronomia.png").img-responsive
        h4
          small XIII Congreso Internacional de
          p Hospitalidad, Gastronomía y Turismo
  .col-xs-6
    a(href="yoga").unstyled
      .text-center
        img(src="/images/acapulco/yoga.png").img-responsive
        h4
          small Seminario de Yoga
          p Punto de Equilibrio
