.row
  .col-lg-6
    a(href="derecho")
      .text-center
        img(src="/images/acapulco/derecho.png").img-responsive
        h2
          small XIII Congreso Internacional de
          p Derecho y Criminologia
  .col-lg-6
    a(href="psicologia")
      .text-center
        img(src="/images/acapulco/psicologia.png").img-responsive
        h2
          small XIII Congreso Internacional de
          p Psicologia
.row
  .col-lg-6
    a(href="gastronomia")
      .text-center
        img(src="/images/acapulco/gastronomia.png").img-responsive
        h2
          small XIII Congreso Internacional de
          p Hospitalidad, Gastronomía y Turismo
  .col-lg-6
    a(href="yoga")
      .text-center
        img(src="/images/acapulco/yoga.png").img-responsive
        h2
          small Seminario de Yoga
          p Punto de Equilibrio
