include _carousel.jade
include _hotel.jade

.row.linea

.row.row-dense
  div(style="padding-bottom: 20px;").col-xs-6.signup-form
    .text-left
      != partial("_signup.ejs")
  .col-xs-6
    .text-left
      != partial("_itinerario_yoga.md")
.row
  .col-xs-12
    p.text-left.small
      br
      | * Los Autobuses salen en otros puntos de la República Mexicana, si se juntan grupos arriba de 20 personas.
