.row
  .col-xs-4
    .cuadro
      .cuadro-text.text-left
        h4
          small Paises:
          br
          | Tailandia - Camboya
        h4
          small Fecha:
          br
          | 3 al 15 de Abr 2016
        h4
          small Desde:
          br
          | 4,500 USD
  .col-xs-8
    .row
      .col-xs-2
        img(src="/images/common/palomita.png").img-responsive
      .col-xs-10
        ul.text-left
          li Vuelos (México - Amsterdam - Bangkok)  (Bangkok, Amsterdam-México)
          li Vuelo (Chiang Mai-Bangkok) (Bangkok-Siem Reap)
          li Hoteles De 4 Estrellas Durante La Estancia En Bangkok y Circuito (Habitación Clase Standard)
          li 12 noches , 13 días.
          li Guía De Hispano Hablante
          li Comida Tailandesa (12 desayunos/10 comidas/9 cenas)
          li Ticket (Entradas De Los Lugares Mencionados Según En Programa)
          li Transporte (Bus)
          li Camboya Visa
          li Una botella de agua por día.
          li El Boleto De Chiang Mai- Bangkok-Siem Reap
    .row
      .col-xs-2
        img(src="/images/common/tache.png").img-responsive
      .col-xs-10
        ul.text-left
          li Bebidas Durante La Comida En Los Restaurantes
          li Propinas Para Los Guías Y Los Conductores
          li Extras En Los Hoteles
          li Visa Tailandesa 2 entradas (80 USD)
