!= partial("../_partials/_carousel.jade", carousel)

!= partial("_hotel")

.row.linea

.row.row-dense
  div(style="padding-bottom: 20px;").col-xs-5.signup-form
    .text-left
      != partial("_signup.ejs")
  .col-xs-7
    .text-left
      != partial("_itinerario.md")
